<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Hackathon", root_path, id: "logo" %>
	  	<nav>
		</nav>
    </div>
  </div>
</header>